body { 
  background-color: #000;
}

section#splash.active {
    background-color: #000;
    display: flex;
}

section#splash img {
    width: 100vmin;
}

sup {
  font-size: 4vw;
}

section#card > div {
  width: 100vw;
  display: flex;
}

div.text {
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  text-align: center;
}

p {
  margin: 0;
  opacity: 0.75;
}

div.text span {
  display: block;
  font-size: 6vmin;
  color: #666;
}


body.complete {
  color: darkgoldenrod;
}

body.complete div.done {
  background-color: goldenrod;
}

body.complete div.buttons {
  opacity: 0;
}


div.buttons {
  position: fixed;
  top: 82vh;
  height: 18vh;
  justify-content: space-between;
}

div.buttons img{
  width: 18vh;
  max-width: 20vw;
}

div.buttons div{
  width: 100%;
  display: none;
  justify-content: space-between;
}

div.buttons div.active{
  display: flex;
}


div.stimulus a.response,
div.response a.stimulus {
  display: none;
}

div [href='#audio'] img {
  box-sizing: border-box;
  border: 1vmin outset #999;
  border-radius: 5vmin;
}

div [href='#audio'].down img {
  border-style: inset;
}

/* TEMPORARY  */
div [href='#hint'] img,
/* TEMPORARY  */
div [href='#null'] img,
div [href='#audio'].disabled img {
  opacity: 0.25;
  border-style: solid;
  cursor: default;
  box-sizing: border-box;
}

div.progress {
  position: fixed;
  top: 80vh;
  height: 2vh;
  width: 100%;
  background-color: #333;
}

div.done {
  bottom: 0;
  height: 100%;
  width: 0%;
  background-color: #e3d1b5;
}

.frame {
  background-color: transparent;
  height: 80vh;
  perspective: 500vmax;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.01s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.frame.response .card {
  transform: rotateY(-180deg);
  transition: transform 0.6s;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12vw;

  border: 0.25vh solid rgba(0,0,0,.2);
  border-radius: 4vh; 
  box-sizing: border-box;
}

.front {
  background-color: #e7d9cb;
  background-image: url("../img/light.jpg");
}

.back {
  background-color: #d2b686;
  background-image: url("../img/dark.jpg");
  transform: rotateY(-180deg);
}


#selector ul {
  font-size: 6vmin;
  height: 100%;
  overflow-y: auto;
}

#selector li {
  height: 20vmin;
}

#selector a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

#selector img {
  height: 100%;
  margin: 0 3vmin 0 0;
}


@media (min-aspect-ratio: 1/1) {
  section.splash img {
    height: 100vmin;
    width: auto;
  }

  .frame.response .card {
    transform: rotateX(-180deg);
  }

  .back {
    transform: rotateX(-180deg);
  }
}
