body { 
  background-color: #000;
  color: #fff;
}


section#splash.active {
    background-color: #000;
    display: flex;
}

section#splash img {
    width: 100vmin;
}

@media (min-aspect-ratio: 1/1) {
  section.splash img {
      height: 100vmin;
      width: auto;
  }
}

sup {
  font-size: 4vmin;
}

section#card > div {
  width: 100vw;
  display: flex;
}

div.text {
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  text-align: center;
}

p {
  margin: 0;
}

div.text span {
  display: block;
  font-size: 6vmin;
  color: #666;
}


body.complete div.text {
  color: goldenrod;
}

body.complete div.done {
  background-color: goldenrod;
}


body.complete div.buttons {
  opacity: 0;
}


div.buttons {
  position: fixed;
  top: 82vh;
  height: 18vh;
  justify-content: space-between;
}

div.buttons img{
  width: 18vh;
  max-width: 25vw;
}

div.buttons div{
  width: 100%;
  display: none;
  justify-content: space-between;
}

div.buttons div.active{
  display: flex;
}


div.stimulus a.response,
div.response a.stimulus {
  display: none;
}

div [href='#audio'] img {
  box-sizing: border-box;
  border: 1vh outset #999;
  border-radius: 5vh;
}

div [href='#audio'].down img {
  border-style: inset;
}

/* TEMPORARY  */
div [href='#hint'] img,
/* TEMPORARY  */
div [href='#null'] img,
div [href='#audio'].disabled img {
  opacity: 0.25;
  border-style: solid;
  cursor: default;
  box-sizing: border-box;
}

div.progress {
  position: fixed;
  top: 80vh;
  height: 2vh;
  width: 100%;
  background-color: #333;
}

div.done {
  bottom: 0;
  height: 100%;
  width: 0%;
  background-color: #fff;
}